<div *ngIf="!identity" class="navigation col-lg-1">
  <h1>
    {{title}}
  </h1>
  <p>Logueado en la app</p>
</div>

<div class="clearfix" ></div>

<div *ngIf="!identity" class="central col-lg-11">
  <p>Estas logueado en la aplicacion</p>
</div>

<div class="col-lg-12 row" *ngIf="identity">
  <div class="col-lg-6">
    <h1>Identificate</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" action="" class="col-md-7">
      <p>
        <label for="email-identificate">Correo electronico</label>
        <input id="email-identificate" #email="ngModel" 
          [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" 
          type="email" class="form-control" required />
          <span *ngIf="!email.valid && email.touched">Email requerido</span>
          {{usuario.nombre}} {{usuario.email}}
      </p>
      <p>
        <label >Contrasena</label>
        <input type="password" #password="ngModel" name="email" 
        [(ngModel)]="usuario.clave" class="form-control" required />
        <span></span>
      </p>
      <input type="submit" value="Entrar" class="btn btn-primary">
    </form>
  </div>
  <div class="col-lg-6">
    <h1>Registrate</h1>
    <form class="col-md-10">
      <p>
        <label for="">Nombres</label>
        <input type="text" class="form-control" required />
      </p>
      <p>
        <label for="">Apellidos</label>
        <input type="text" class="form-control" required />
      </p>
      <p>
        <label for="">Correo electronico</label>
        <input type="text" class="form-control" required />
      </p>
      <p>
        <label for="">Contrasena</label>
        <input type="text" class="form-control" required />
      </p>
      <p>
        <label for="">Contrasena</label>
        <input type="text" class="form-control" required />
      </p>
      <input type="submit" value="Registrarse" class="btn btn-primary">
    </form>
  </div>
</div>